extends layout

block content
	div(data-pageid=page.id)
		#primaryContent.outter-box
			h1.main-title= page.title
			//- each content in page.primary_content
			//-	p.body-paragraph= content
			p.body-paragraph= page.primary_content