doctype html
html
	head
		title D'moda Guatemala, expreciencia en confeccion.
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		block head
	body
		#page
			header#header
				#logo
					a(href="/")
						img(src="/images/dmoda_top_logo.png")
				nav#mainNavigation
					div.nav-container
						each page in pages
							a(href=page.location)= page.title
				#burgerIcon
				block header
			
			block content
			footer#footer
				span.
					Copyright &copy; 2014 D'Moda
				block footer