@brandPurple: #583381;
@headerH: 60px;
.floatme(@s, @w){
	float: @s;
	width: @w;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
@full: 100%;
@fourth: @full/4;

body {
	padding: 0;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: @brandPurple;
}



#header {
	border-bottom: 1px solid @brandPurple;
	height: @headerH;
}

//navigation
#logo {
	.floatme(left, 20%);
	height: @headerH;
	padding: 10px;
	a, img {
		display: block;
		height: 100%;		
	}
	img {
		display: block;
	}
}

#mainNavigation {
	overflow: hidden;
}

#burgerIcon {
	float: right;
	height: 6px;
	width: 34px;
	margin: 20px;
	border-top: 18px double @brandPurple;
	border-bottom: 6px solid @brandPurple;
	font-size: 0;
	display: none;
}

.nav-container {
	overflow: hidden;
	.floatme(right, 80%);
}
.nav-container a {
	display: block;
	padding: 0 20px;
	line-height: @headerH;
	.floatme(left, fourth);
	text-decoration: none;
	color: @brandPurple;
}

//content
.content {
	padding: 25px;
}